* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



.NumbOne {
    height: 40px;
    background-color: #405cf5;
    color: white;
}

.content {
    width: 85%;
    margin: auto;
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;

}

.content p{
    font-size: 10px;
}

.content-one{
    width:100%;
}




.fa {
    padding: 7px;
    display: inline;
}


.logo {
    margin-top: 7px;
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    color: #405cf5;
    font-size:20px;
    
    /* background-color: #405cf5; */



}






/* NumbTwo */

.NumbTwo {
    height: 60px;
    background-color: white;
    color: #405cf5;
    font-family: "Roboto", sans-serif;
    font-size: 13px;

}


@media screen and (max-width: 900px) {
    .NumbTwo {
        height: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 900px) {
    .content-two-2 {
        flex-direction: column;
    }
}


.top-icons {
    /* height: 10px; */
    padding: 10px;
}

.para {
    display: inline;
    height: 20px;
    /* padding: 5px; */
    /* line-height: 30px; */

}

.content-two-2 {
    width: 80%;
    margin: auto;
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
}

/* NumbThree */


.NumbThree {
    height: 60px;
    display: block;
    font-family: "Roboto", sans-serif;

}

.logo {
    width: 180px;
}


@media screen and (max-width: 900px) {
    .logo {
        width: 140px;
    }
}

.apply-now {

    background-color: #405cf5;
    text-decoration: none;
    color: white;
    padding: 15px;
    width: 150px;
    border: none;
}



/* navbar */


.Navbar {
    /* height: 60px; */
    display: block;
}


@media screen and (min-width: 900px) {
    .Navbar {
        height: 60px;
    }
}


.navbar,
.navbar-2 {
    width: 85%;
    text-decoration: none;
    font-size: 13px;
    float: right;
    padding: 10px;
    text-align: center;

}

@media screen and (max-width: 900px) {
    .navbar {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .navbar-2 {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .ham {
        display: none;
    }
}

.navbar a {
    width: 20px;
    margin: 20px;
    text-decoration: none;
    color: #405cf5;
    font-family: "Roboto", sans-serif;


}

/* Change the color of links on hover */
.navabr a:hover {
    background-color: #ddd;
    color: black;
}


.nav-2-menu {
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
}

.toggle {
    animation: fadeInAnimation ease3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: all 2s ease-in-out;
}

.nav-2-menu:target {
    height: 50px;
}

.nav-item {
    width: 100%;
    /* text-align: center; */
    height: 40px;
    padding: 3px;
    border: 0.5px solid #405cf5;



}

.nav-item:hover {
    color: #482ff7;
    background-color: black;
}

.nav-link {
    /* font-size: 1.6rem;
    font-weight: 400; */
    color: #475569;
    text-decoration: none;

}

.nav-link:hover {
    color: #482ff7;
}


.caro-image {
    width: 100%;
    /* height: 600px; */
    
 
}

.position {

    position: absolute;
    top: 200px;
    left: 20%;
    right: 20%;
    text-align: center;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .position {
        top: 10px
    }
}

/* .know-more{
    width: 100px;
    background-color: black;
    color:white;
    padding: 10px;
    text-decoration: none;
} */

.caro-text {
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    text-align: center;
    z-index: 1;
}

.test{
    /* filter: brightness(0%); */
}

.know-more,
.contact-us {
    margin: 5px;
    /* line-height: 10px; */
    padding: 10;
    font-weight: bold;
}




@media screen and (max-width: 900px) {

    .know-more,
    .contact-us {
        width: 40%;
        font-size: 12px;
        display: inline-block;
        padding: 10px;
    }
}